body {
  font-family: sans-serif;
  margin: 20px;
}

#messages {
  border: 1px solid #000;
  height: 250px;
  overflow: auto;
  padding: 6px;
  margin-bottom: 1rem;
}

.pm-row {
  display: flex;
  gap: 8px;
  align-items: center; 
  flex-wrap: nowrap; 
  margin: 6px 0;
}

#messages img {
  max-width: 100%;
  max-height: 120px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
}

#pseudo,
#msg {
  width: 150px;
}

.content {
  max-width: 800px;
  margin: auto;
  padding: 1rem;
  font-family: Arial, sans-serif;
}

#room-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  margin-bottom: 1rem;
}

#userId {
  display: flex;
  align-items: center;
  gap: 1rem;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  background-color: #608dee;
  color: white;
  border-radius: 4px;
}

button.validation {
  background-color: #338336;
}

input {
  padding: 0.5rem;
  margin-right: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  width: 100%;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  resize: vertical;
  margin-top: 1rem;
}

#chat-form {
  margin-top: 1rem;
}

.inputs,
.action-buttons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1rem;
}
